# Build and output dir
bin/
bin-dep/
obj/

# Visual Studio
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates


*.obj
*.o
*.exe
*.dll
*.pdb
*.ilk
*.idb
*.lib
*.a
*.exp
*.ipdb
*.iobj
*.tlog
*.log
*.cache
*.pdb

*.sdf
*.opensdf
*.VC.db

*.bak
*.swp
*.swo
*.swn

*.VC.*
*.tlog
*.lastbuildstate

TestResults/

*.dmp
